.body {
    font-family: 'Raleway', 'Inter', 'Arial', sans-serif;
}
 
.header {
    margin: 92px 24px 96px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
}

.list-style-none {
    list-style: none;
}

.text-default {
    text-decoration: none;
}

.list-style-circle {
    list-style: circle;
}

.header-navigation {
    margin-left: 25px;
    display: flex;
    gap: 31px;
    word-spacing: 2px;
}

.header-logo {
    height: 105px;
    object-fit: cover;
    max-width: 130px;
    margin-left: 45px;
}

.about {
    display: grid;
    max-width: 237px;
    text-underline-offset: 4px;
    line-height: 25px;
    text-decoration: none;
    font-style: normal;
}

.header-about {
    margin-right: 25px;
    margin-left: 196px;
}

.main-cover {
    position: relative;
    width: 1100px;
}

.main-cover-image {
    width: 100%;
    height: 100%;
    background-image: url("../images/cover.jpg");
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background-img-brightness-low {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.main-cover-text {
    position: relative;
    text-transform: uppercase;
    display: grid;
    padding-top: 165px;
    font-weight: 700;
    font-size: 100px;
    color: white;
    z-index: 2;
}

.main-cover-text__align-left {
    margin-left: 50px;
}

.letter-spacing__low-gap {
    letter-spacing: 30px;
}

.letter-spacing__high-gap {
    letter-spacing: 60px;
}

.main-cover-text__align-center {
    margin-left: 336px;
    margin-top: 9px;
}

.main-cover-text__align-right {
    margin-left: 633px;
}

.main-cover-description {
    position: relative;
    display: flex;
    z-index: 2;
}

.main-cover-description-phrase {
    margin-top: 142px;
    margin-left: 78px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    word-spacing: 19px;
    padding-bottom: 62px;
}

.main-cover-description-make-bet-text {
    font-family: Raleway, sans-serif;
    margin-top: 130px;
    margin-left: 77px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 32px 11px 31px;
}

.main-lots {
    margin: 180px 24px 0;
}

.main-lots-title {
    font-size: 40px;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 27px;
    text-transform: uppercase;
}


.main-lots-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.main-lots-cards-template {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    min-height: 563px;
    z-index: 0;
    background-position: center;
    background-size: cover;
}

.main-lots-cards__align-left {
    background-image: url('../images/card-lot-01.jpg');
}

.main-lots-cards-title {
    padding-top: 51px;
    margin: 0 40px 0;
    font-weight: 700;
    font-size: 22px;
    color:white;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 2;
}

.main-lots-cards-description {
    margin: 0 40px 48px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    z-index: 2;
}

.main-lots-cards__align-center {
    background-image: url('../images/card-lot-02.jpg');
}

.main-lots-cards__align-right {
    background-image: url('../images/card-lot-03.jpg');
}
.main-lots-more-button {
    display: block;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 40px;
    margin-top: 30px;
}

.main-about {
    margin: 146px 24px 0;
    display: flex;
}

.main-about-logo {
    margin-top: 35px;
    margin-left: 47px;
    padding-right: 72px;
}

.main-about-logo-container {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
}

.main-about-logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
}

.main-about-text-title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 136px;
}

.main-about-text-paragraphs {
    margin-top: 100px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    font-size: 18px;
    font-weight: 400;
    margin: 180px 50px 88px;
    display: flex;
    justify-content: space-between;
}

.footer-navigation {
    list-style: none;
    text-align: center;
}

.footer-social-media {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.footer-social-media>* {
    width: 48px;
    height: 48px;
}